<launch>
  <arg name="bag" default=""/>
  <arg name="v" default="0"/>
  <arg name="tracks_file_txt" default=""/>

  <!-- tracker -->
  <node name="tracker" pkg="eklt" type="eklt_node" output="screen" args="
  --flagfile=$(find eklt)/config/eklt.conf
  --v=$(arg v)
  --tracks_file_txt=$(arg tracks_file_txt)">

    <remap from="events" to="/dvs/events"/>
    <remap from="images" to="/dvs/image_raw"/>

  </node>

 <!-- bag -->
 <group if="$(eval arg('bag') != '' )">
   <node pkg="rosbag" type="play" name="player" output="screen" args="$(arg bag)"/>
 </group>

 <!-- image view-->
  <node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view">
  <remap from="image" to="feature_tracks"/>
  </node>
</launch>
